/* Style de la superposition de la modale */
.hidden {
  display: none;
}

.modal {
  display: none; /* Masquer par défaut */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 1000; /* S'assurer qu'elle apparaît par-dessus le reste */
}

/* Contenu de la modale */
.modal-content {
  position: relative;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 630px;
  height: 688px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  z-index: 1050;
}

/* Titre de la modale */
.modal-content h2 {
  font-size: 1.8em;
  color: black;
  font-family: "Work Sans";
  font-weight: 300;
  text-align: center;
  margin-bottom: 60px;
  margin-top: 40px;
}

/* Galerie d'images dans la modale */
#photo-gallery-modale {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  max-width: 80%;
  max-height: 500px;
  gap: 15px;
  overflow: hidden;
  z-index: 1060;
}

#photo-gallery-modale img {
  width: 80px;
  height: 120px;
}

#photo-gallery-modale figcaption {
  display: none;
}

/* Bouton "Ajouter une photo" */
#edit-modal .add-photo-button {
  display: block;
  text-align: center;
  margin: 80px auto 20px auto;
  width: 237px;
  height: 36px;
  background-color: #2f544e;
  font-family: "Syne";
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  z-index: 1070;
}

#edit-modal .add-photo-button:hover {
  background-color: #1d6154;
}

/* Bouton de fermeture (croix) */
.close-button {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 24px;
  color: black;
  cursor: pointer;
  z-index: 1080;
}

/**** Ajout photo section ****/
/* Superposition pour la deuxième modale */
.add-photo-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1500; /* S'assurer que cette superposition est au-dessus de la première modale */
}

/**** Ajout photo section (modale intérieure) ****/
#add-photo-page {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 630px;
  height: 688px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  z-index: 1600; /* S'assurer que cette section est au-dessus de la superposition */
}

.title-container {
  width: 100%;
  text-align: center;
  margin-top: 30px;
  margin-bottom: -20px;
  z-index: 1090;
}

#back-to-gallery {
  position: absolute;
  top: 15px;
  left: 15px;
  border: none;
  font-size: 24px;
  color: black;
  cursor: pointer;
}

/* Section principale du formulaire */
#add-photo-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
  padding: 20px;
}

/* Bouton d'upload photo */
#photo-upload-container {
  display: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 420px;
  height: 169px;
  background-color: #eef6fc;
  position: relative;
  overflow: hidden;
}

#photo-upload {
  position: absolute !important;
  width: 100% !important;
  height: 100% !important;
  opacity: 0 !important;
  cursor: pointer;
}

#photo-upload-label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
  cursor: pointer;
}

#photo-upload-container img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

/* Icône à l'intérieur du bouton */
.upload-photo-button i {
  font-size: 76px;
  color: #b7bfc4;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Texte principal  */
.upload-photo-button span {
  font-size: 16px;
  color: #306685;
  font-weight: bold;
  background-color: #cbd6dc;
  padding: 7px 30px;
  border-radius: 30px;
  text-align: center;
  margin-bottom: 5px;
  border: none;
}

/* Texte d'information (formats acceptés) */
.upload-photo-button p {
  font-size: 12px;
  color: gray;
  margin-top: 5px;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

.form-group p {
  margin-bottom: 8px;
}

/* Champ texte (Titre) */
#photo-title {
  width: 400px;
  height: 30px;
  padding: 10px;
  font-size: 14px;
  border: none;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.178);
  margin-bottom: 20px;
  background-color: white;
  color: black;
}

#photo-title::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

#photo-title:focus {
  outline: none;
  border: none;
  background-color: white;
  color: black;
}

/* Liste déroulante (Catégorie) */
#photo-category {
  width: 420px;
  height: 56px;
  padding: 10px;
  font-size: 14px;
  border: none;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.178);
  background-color: white;
  outline: none;
  cursor: pointer;
}

#photo-category:focus {
  border-color: #1d6154;
}

/* Bouton Valider */
#add-photo-form button[type="button"] {
  background-color: #b8b8b8;
  color: white;
  font-size: 16px;
  font-family: "Syne", sans-serif;
  font-weight: bold;
  padding: 10px 90px;
  border: none;
  border-radius: 30px;
  margin-top: 20px;
  cursor: not-allowed;
}

#add-photo-form button[type="button"].active {
  background-color: #1d6154;
  cursor: pointer;
}

#add-photo-form button[type="subutton"].active:hover {
  background-color: #134c3c;
}

#photo-upload {
  visibility: hidden;
}

/* Bouton de suppression sur chaque image de la galerie */
.delete-button {
  position: absolute;
  top: 3px;
  right: 5px;
  background-color: rgba(0, 0, 0, 10);
  border: none;
  color: white;
  font-size: 10px;
  cursor: pointer;
  padding: 5px;
}
