/* Style de la superposition de la modale */
.hidden {
  display: none;
}

.modal {
  display: none; /* Masquer par défaut */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fond semi-transparent */
  justify-content: center;
  align-items: center;
  z-index: 1000; /* S'assurer qu'elle apparaît par-dessus le reste */
}

/* Contenu de la modale */
.modal-content {
  position: relative;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 630px;
  height: 688px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  z-index: 1050;
}


/* Titre de la modale */
.modal-content h2 {
  font-size: 1.8em;
  color: black;
  font-family: "Work Sans";
  font-weight: 300;
  text-align: center;
  margin-bottom: 60px;
  margin-top: 40px;
}

/* Galerie d'images dans la modale */
#photo-gallery-modale {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  max-width: 80%;
  max-height: 500px;
  gap: 15px;
  overflow: hidden;
  z-index: 1060;
}

#photo-gallery-modale img {
  width: 80px;
  height: 120px;
}

#photo-gallery-modale figcaption {
  display: none; /* Masque le titre des images */
}

/* Bouton "Ajouter une photo" */
#edit-modal .add-photo-button {
  display: block;
  text-align: center;
  margin: 80px auto 20px auto;
  width: 237px;
  height: 36px;
  background-color: #2f544e;
  font-family: "Syne";
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  z-index: 1070;
}

#edit-modal .add-photo-button:hover {
  background-color: #1d6154;
}

/* Bouton de fermeture (croix) */
.close-button {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 24px;
  color: black;
  cursor: pointer;
  z-index: 1080;
}

/**** Ajout photo section ****/
/* Superposition pour la deuxième modale */
.add-photo-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fond semi-transparent identique à la première modale */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1500; /* S'assurer que cette superposition est au-dessus de la première modale */
}

/**** Ajout photo section (modale intérieure) ****/
#add-photo-page {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 630px;
  height: 688px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  z-index: 1600; /* S'assurer que cette section est au-dessus de la superposition */
}

.title-container {
  width: 100%;
  text-align: center; /* Centre le texte horizontalement */
  margin-top: 30px;
  margin-bottom: -20px;
  z-index: 1090;
}

#back-to-gallery {
  position: absolute;
  top: 15px;
  left: 15px;
  border: none;
  font-size: 24px;
  color: black;
  cursor: pointer;
}

/* Section principale du formulaire */
#add-photo-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px; /* Espacement entre les éléments */
  width: 100%; /* Prend toute la largeur disponible */
  padding: 20px;
}


/* Bouton d'upload photo */
#photo-upload-container {
  display: relative; /* Utilise Flexbox pour l'alignement */
  flex-direction: column; /* Aligne les éléments verticalement */
  justify-content: center; /* Centre les éléments verticalement */
  align-items: center; /* Centre les éléments horizontalement */
  width: 420px; /* Prend toute la largeur disponible */
  height: 169px; /* Prend toute la hauteur disponible */
  background-color: #eef6fc; /* Une couleur douce pour le conteneur */
  position: relative; /* Permet de positionner des éléments relatifs à ce conteneur */
  overflow: hidden; /* Empêche tout dépassement */
}

#photo-upload {
  position: absolute !important; /* Place l'input sur toute la zone */
  width: 100% !important; /* Largeur maximale */
  height: 100% !important; /* Hauteur maximale */
  opacity: 0 !important;
  cursor: pointer; /* Ajoute un curseur de clic */
}

#photo-upload-label {
  display: flex; /* Utilisation de Flexbox */
  flex-direction: column; /* Aligne verticalement */
  justify-content: center; /* Centre verticalement */
  align-items: center; /* Centre horizontalement */
  z-index: 2; /* S'affiche au-dessus du conteneur */
  cursor: pointer; /* Ajoute un curseur interactif */
}

#photo-upload-container img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
  object-fit: cover; /* Pour couvrir l'espace sans déformation */
}



/* Icône à l'intérieur du bouton */
.upload-photo-button i {
  font-size: 76px; /* Taille de l'icône */
  color: #b7bfc4;
  margin-bottom: 10px; /* Espacement avec le texte */
}

/* Texte principal  */
.upload-photo-button span {
  font-size: 16px;
  color: #306685; /* Bleu foncé */
  font-weight: bold;
  background-color: #cbd6dc;
  padding: 7px 30px;
  border-radius: 30px;
  text-align: center;
  margin-bottom: 5px; /* Espacement avec le texte en dessous */
  border: none;
}

/* Texte d'information (formats acceptés) */
.upload-photo-button p {
  font-size: 12px;
  color: gray; /* Couleur du texte d'aide */
  margin-top: 5px; /* Petit espacement avec le bouton */
}

.form-group {
  display: flex;
  flex-direction: column; /* Arrange les éléments verticalement */
  align-items: flex-start; /* Aligne les éléments à gauche */
  margin-bottom: 20px; /* Espace entre les champs */
}

.form-group p {
  margin-bottom: 8px; /* Espace entre le titre et l'input */
}

/* Champ texte (Titre) */
#photo-title {
  width: 400px; /* Largeur identique au bouton upload */
  height: 30px;
  padding: 10px;
  font-size: 14px;
  border: none;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.178);
  margin-bottom: 20px;
  background-color: white; /* Couleur de fond blanche */
  color: black; /* Couleur du texte */
}

#photo-title::placeholder {
  color: rgba(0, 0, 0, 0.6); /* Couleur du placeholder */
}

#photo-title:focus {
  outline: none; /* Supprime le contour par défaut */
  border: none; /* Supprime la bordure */
  background-color: white; /* Assure que la couleur de fond reste blanche */
  color: black; /* Assure que le texte reste noir */
}

/* Liste déroulante (Catégorie) */
#photo-category {
  width: 420px; /* Largeur identique */
  height: 56px;
  padding: 10px;
  font-size: 14px;
  border: none;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.178);
  background-color: white;
  outline: none;
  cursor: pointer;
}

#photo-category:focus {
  border-color: #1d6154;
}



/* Bouton Valider */
#add-photo-form button[type="button"] {
  background-color: #b8b8b8; /* Couleur grisée initiale */
  color: white;
  font-size: 16px;
  font-family: "Syne", sans-serif;
  font-weight: bold;
  padding: 10px 90px;
  border: none;
  border-radius: 30px;
  margin-top: 20px;
  cursor: not-allowed; /* Curseur désactivé */
}

#add-photo-form button[type="button"].active {
  background-color: #1d6154; /* Couleur active */
  cursor: pointer; /* Change le curseur en mode actif */
}

#add-photo-form button[type="subutton"].active:hover {
  background-color: #134c3c; /* Couleur au survol */
}

#photo-upload {
  visibility: hidden;
}

/* Bouton de suppression sur chaque image de la galerie */
.delete-button {
  position: absolute;
  top: 3px;
  right: 5px;
  background-color: rgba(0, 0, 0, 10);
  border: none;
  color: white;
  font-size: 10px;
  cursor: pointer;
  padding: 5px;
}
